<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 2</title>
    <style>
        .my-div {width: 25px; height: 25px;background-color:red; margin:1px;}
    </style>     
</head>
<body>

    <div id="outer"> 
        <div id="number-one" class="my-div"></div>
        <div id="number-two" class="my-div"></div>
        <div id="number-three" class="my-div"></div>
        <div id="number-four" class="my-div"></div>
        <div id="number-five" class="my-div"></div>
        <div id="number-six" class="my-div"></div>
        <div id="number-seven" class="my-div"></div>
        <div id="number-eight" class="my-div"></div>
        <div id="number-nine" class="my-div"></div>
        <div id="number-ten" class="my-div"></div>
    </div>

    <p id="output">&nbsp;</p>

    <script src="../static/js2.js"></script>
   
</body>
</html>