<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>
</head>
<body>

    <h1>Name List</h1>

    <ul id="nameList"></ul>

    <form id="nameForm">
        <input type="text" id="newName" placeholder="Enter a name">
        <input type="submit" value="Add name">
    </form>

    <button id="removeFirst">Remove First</button>
    <button id="removeLast">Remove Last</button>

    <script src="../static/js3.js"></script>
    
</body>
</html>